<!doctype html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		<style>
		.ng-invalid.ng-dirty {
			border-color: #FA787E;
		}
		.ng-valid.ng-dirty {
			border-color: #78FA89;
		}
		</style>
	</head>
	<body ng-controller="StoreController as store">
		<div class="container">
			<ul class="nav nav-tabs">
				<li ng-repeat="nav in store.nav" ng-class="{ active:store.isSelected(nav.id) }"><a href="#" ng-click="store.selectTab(nav.id)">{{nav.name}}</a></li>
			</ul>
			<div ng-show="store.isSelected(2)" ng-include="'Cheatsheet-Angular.html'"></div>
			<ul ng-show="store.isSelected(1)" class="list-group">
				<li class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'" ng-hide="store.product.soldOut">

					<product-gallery></product-gallery>

					<product-title></product-title>	<!-- see app.js for custom directive definitions -->

					<product-panels></product-panels>
					
					<button ng-show="product.canPurchase">Add to Cart</button>
				</li>
			</ul>
		</div>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="product.js"></script>
	</body>
</html>