<article class="container">
  <fieldset class="form-group">
    <input class="btn btn-primary pull-right" type="submit" value="Add Article"/>
  </fieldset>
    <div class="article" ng-repeat="article in site.articles">
      <ul class="list-group">
        <li class="list-group-item">
          <h2><small>- {{article.id}} - </small><a ng-click="site.selectArticle(article.id)" href="#/articles/{{article.id}}">{{article.title}} </a>by <small>{{article.author}}</small></h2>
          {{article.description}}
          <hr>
          <article ng-bind-html="article.body | markdown"></article>
        </li>
      </ul>
    </div>
  </article>
